<ion-content class="ion-padding ion-text-center">
  <div class="page-center">
    <ion-card class="card-main register-card">
      <ion-card-content>
        <ion-card-title>Registro</ion-card-title>

        <form [formGroup]="registerForm" (ngSubmit)="register()">

          <!-- EMAIL -->
          <div class="form-field">
            <label>Correo electrónico</label>
            <ion-input type="email" formControlName="email" placeholder="ejemplo@correo.com"></ion-input>
            <ion-text color="danger" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
              Email inválido
            </ion-text>
          </div>

          <!-- PASSWORD -->
          <div class="form-field">
            <label>Contraseña</label>
            <ion-input type="password" formControlName="password" placeholder="Mínimo 6 caracteres"></ion-input>
            <ion-text color="danger" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
              Mínimo 6 caracteres
            </ion-text>
          </div>

          <!-- CONFIRM PASSWORD -->
          <div class="form-field">
            <label>Confirmar contraseña</label>
            <ion-input type="password" formControlName="confirmPassword" placeholder="Repite tu contraseña"></ion-input>
          </div>

          <ion-button expand="full" type="submit" [disabled]="registerForm.invalid" class="btn-register">
            Registrarse
          </ion-button>
        </form>

        <p class="login-link">
          ¿Ya tienes cuenta? 
          <a routerLink="/login">Inicia sesión</a>
        </p>
        
         <p class="home-link">
          <a routerLink="/home">Volver a la página principal</a>
        </p>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>