<ion-header>
  <ion-toolbar>
    <ion-title>Mis Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToAddProduct()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <div class="vertical-divider"></div>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    @for (product of productService.products(); track product.id) {
      <ion-item lines="none" [routerLink]="['/products', product.id]">

        <ion-thumbnail slot="start" class="incidencia-thumb">
          <img 
            [src]="product.imageUrl || 'assets/no-image.jpg'" 
            (error)="onImageError($event)"
            alt="imagen"
          />
        </ion-thumbnail>

        <!-- Texto -->
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
        </ion-label>
      </ion-item>
    } @empty {
      <p>No tienes productos registrados.</p>
    }
  </ion-list>
</ion-content>