<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir desde URL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <form [formGroup]="productForm" (ngSubmit)="addProduct()">
      <div class="form-inner">
        <img 
          class="product-image" 
          [src]="productForm.value.imageUrl || 'assets/no-image.jpg'" 
          alt="Preview imagen"
          (error)="onImageError($event)"
        />
      
        <div class="product-info">
          <div class="form-field">
            <label>Nombre del Producto</label>
            <ion-input formControlName="name" placeholder="Nombre del producto"></ion-input>
          </div>

          <div class="form-field desc">
            <label>Descripción</label>
            <textarea formControlName="description" placeholder="Descripción del producto"></textarea>
          </div>

          <div class="form-field">
            <label>URL de la imagen (Internet)</label>
            <ion-input type="url" formControlName="imageUrl" placeholder="https://ejemplo.com/foto.jpg"></ion-input>
          </div>

          <ion-button expand="full" type="submit" [disabled]="productForm.invalid">
            Subir a mi Firebase
          </ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>