<ion-content [fullscreen]="true" class="ion-padding">
  <div class="page-center">
    <ion-card class="card-main login-card">
      <ion-card-content>
        <h1 class="card-title">Iniciar Sesión</h1>

        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <div class="form-field">
            <label>Correo Electrónico</label>
            <ion-input type="email" formControlName="email" placeholder="correo@ejemplo.com"></ion-input>
            @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
              <div class="error-text">Ingresa un correo válido.</div>
            }
            
          </div>

          <div class="form-field">
            <label>Contraseña</label>
            <ion-input type="password" formControlName="password" placeholder="********"></ion-input>
            @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
              <div class="error-text">La contraseña debe tener al menos 6 caracteres.</div>
            }
            
          </div>

          <ion-button expand="full" type="submit" [disabled]="loginForm.invalid" class="btn-primary">
            Iniciar sesión
          </ion-button>

          <ion-button fill="clear" expand="full" routerLink="/register" class="btn-secondary">
            ¿No tienes cuenta? Regístrate
          </ion-button>
          <p class="home-link">
            <a routerLink="/home">Volver a la página principal</a>
          </p>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>