<ion-header>
  <ion-toolbar>
    <ion-title>Productos Públicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (product of productService.allProducts(); track product.id) {
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="product.imageUrl" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
          <small>Usuario: {{ product.userId }}</small>
        </ion-label>
      </ion-item>
    } @empty {
      <ion-item>No hay productos disponibles.</ion-item>
    }
  </ion-list>
</ion-content>